/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/
#home {
    width:100%;
    height:100vh;
    background: url('../img/ugo-barathe-banner.jpg') top right no-repeat;
    background-size: cover;
}

#home h1, #home p {
    color:white;
    text-align:center;
}

#home p {
    background: #f2f2f2b3;
    color:var(--black);
    padding: 0.5rem 1.5rem;
    margin-top:1.5rem;
    display: inline-block;
    font-weight: 600;
    margin: 1.5rem auto;
}


/*
 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
███████║██████╔╝██║   ██║██║   ██║   ██║   
██╔══██║██╔══██╗██║   ██║██║   ██║   ██║   
██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║   
╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝   
*/
.section-title {
    text-align: center;
    padding-bottom: 2rem;
}
li i {
    font-size:1.6rem;
}
/*
███████╗██╗  ██╗██╗██╗     ██╗     ███████╗
██╔════╝██║ ██╔╝██║██║     ██║     ██╔════╝
███████╗█████╔╝ ██║██║     ██║     ███████╗
╚════██║██╔═██╗ ██║██║     ██║     ╚════██║
███████║██║  ██╗██║███████╗███████╗███████║
╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚══════╝
*/

.skills .container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.section-title {
    width:100%;
}

.skills figure {
    width:40%;
    margin: 1rem;
}

.skills figure img{
    display: block;
    margin: 0 auto;
    width: 60%;
}

/* 
██████╗ ███████╗███████╗██╗   ██╗███╗   ███╗███████╗
██╔══██╗██╔════╝██╔════╝██║   ██║████╗ ████║██╔════╝
██████╔╝█████╗  ███████╗██║   ██║██╔████╔██║█████╗  
██╔══██╗██╔══╝  ╚════██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║███████╗███████║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/
.resume-title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: #45505b;
}

.resume-item {
    padding-left: 2rem;
    padding-bottom:1.2rem;
	border-left: 2px solid var(--green);
    position: relative;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 5rem;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid var(--green);
}

.resume-item h5 {
    background:var(--grey);
    padding: 0.5px 1.5rem;
    margin-top:1.5rem;
    display: inline-block;
    font-weight: 600;
}

.resume-item h4 {
    line-height: 18px;
}
/* 
██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗
██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝
██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║   
██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║   
██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║   
╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝   
*/
#projects .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#projects h2 {
    width:100%;
}

#projects article h4 {
	display: inline-block;
	background: var(--black);
	color: white;
	padding: 0.5px 1.5rem;
	margin-top: 1.5rem;
	border-radius: 3px;
	font-size: 1.6rem;
}

#projects article {
    margin-top:3rem;
    width:90%;
    background: var(--grey);
    padding:3rem;
    text-align: center;
    border-bottom: 2rem solid var(--green);
    border-radius: 3rem;
}

#projects article a {
    padding:1rem;
}

#projects .container > p {
	margin-top: 4rem;
	margin-bottom: 0;
    text-align: center;
}
/* ***********************************
************* RESPONSIVE *************
************************************ */
@media (min-width:400px)
{
    .skills figure {
        width:30%;
        margin: 2rem;
    }
}

@media (min-width:500px)
{
    .skills figure {
        width: 22%;
        margin: 2rem;
    }
}

@media (min-width:722px)
{
    .skills .container {
        justify-content: space-around;
    }
    .skills figure {
        width: 22%;
        margin: 2rem;
    }
}

@media (min-width: 768px)
{
    #about .container {
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
    }
    #about .container .section-title {
        width: 100%;
    }

    #about .container h3 {
        width: 100%;
    }

    #about .container h3 p {
        width:100%;
    }

    #about .container ul {
        width:50%;
        padding-right:2rem;
    }

    #projects article {
        width:48%;
        margin-top: 2rem;
    }
    #projects .container article:nth-child(even) {
        margin-right:2rem;
    }
}

@media (min-width: 992px)
{
    #resume .container {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

@media (min-width: 1052px)
{
    #home {
        background-attachment: fixed;
        background-size: cover;
    }

    #home h1 {
        text-align: initial;
    }

    #home p {
        background: #f2f2f2b3;
        color:var(--black);
        padding: 0.5rem 1.5rem;
        display: inline-block;
        font-weight: 600;
        width: 33%;
        margin: 1.5rem 0
    }

    #about .container ul {
        width:33%;
    }

    #about .container ul:last-of-type {
        width:30%;
    }

    .skills figure {
        width: 17%;
    }

    .skills figure img{
        width: 40%;
    }
}